* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family:
    "Poppins",
    Arial,
    sans-serif;

  background: #080b14;

  color: white;
}

button,
input,
textarea {
  font-family: inherit;
}