.projects {
  background: #080b1a;
}

.projects-grid {
  max-width: 1150px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.project-card {
  overflow: hidden;
  border-radius: 20px;
  background: #11152d;
  border: 1px solid #292d50;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
  border-color: #7668ff;
}

.project-image {
  width: 100%;
  height: 220px;
  overflow: hidden;
 background-color: #080B1A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.project-card:hover img {
  transform: scale(1.08);
}

.project-content {
  padding: 22px;
}

.project-content h3 {
  font-size: 20px;
  margin-bottom: 12px;
}

.project-content p {
  color: #9da1b8;
  font-size: 14px;
  line-height: 1.6;
}

.project-content h4 {
  margin: 18px 0 8px;
}

.project-content ul {
  padding-left: 18px;
  color: #9da1b8;
  font-size: 13px;
  line-height: 1.8;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  margin-top: 15px;
}

.project-tech span {
  padding: 5px 10px;
  border-radius: 15px;
  background: #202544;
  color: #aaa2ff;
  font-size: 11px;
}

.project-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.project-buttons a {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  border: 1px solid #474b75;
}

.project-buttons a:hover {
  background: #7668ff;
  border-color: #7668ff;
}

@media (max-width: 900px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
.projects-github-link {
  text-align: center;
  margin-top: 40px;
}

.projects-github-link a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 22px;
  border-radius: 8px;
  border: 1px solid #474b75;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.projects-github-link a:hover {
  background: #7668ff;
  border-color: #7668ff;
}